section.b-section.-small-header.-marchpane-page
	._bg-wrap(style="background-color: #F9F6F0")
	.container
		h1._title Марципановая масса
		ul.b-breadcrumbs
			li._item
				a._link(href="index.html") Главная
					span._seperator
						+icon('arrow-right')
			li._item.-disabled
				a._link(href="#") Марципановая масса
	.b-marchpane._marchpane
		.container
			._banner-wrap
				._img-wrap
					img._img(src="img/marchpane/banner-img.png", alt="")
			h3.b-md-title.-accent._md-title Марципановая начинка (масса) представляет собой универсальный полуфабрикат кремового или желтоватого цвета, с характерно выраженным ароматом и вкусом миндаля.
			._desc.lg-desc
				p Марципановая масса, пластичная, мягкая, легко принимающая форму, нежная на вкус и совершенно натуральная, она буквально создана для кулинарных экспериментов и украшения тортов. Воплотите в реальность любую свою марципановую мечту! Добавьте цитрусы, вишню, орешки или ароматный ликёр — получится безумно вкусно.
				p Марципановую массу редко употребляют в чистом виде. Чаще всего продукт используют для начинок конфет, круасанов, тортов или приготовления печенья, кексов и во многих других кондитерских целях.
				p Марципановую массу получают путем смешивания измельченных в муку миндальных орехов с сахарной пудрой или сахарным, молочным сиропом до образования однородной пластичной массы.
				p Марципановая масса обладает полезными свойствами, не содержит глютена, и ГМО, содержит токоферол (витамин Е), помогающий в борьбе со стрессом и выполняющий функцию защиты клеток от повреждения, что приносит значительную пользу здоровью человека.