header.b-main-header
	a.b-logo.-hidden._logo(href="#home")
		img._img(src="img/logo/logo.svg", alt="")
	a.b-hamburger.-slider.-small._hamburger.js-menu.js-popup(href="#menu")
		span.hamburger-box
			span.hamburger-inner
