include _mixins
doctype html
html(lang="ru")
	block head
		- var title = 'Пралине | Орехпродукт'
	include _head
	body
		|
		|
		// Header
		include _header

		// content
		block content

		|
		|
		include _footer