section.b-section.-small-header.-about-page
	._bg-wrap(style="background-color: #F9F6F0")
	.container
		h1._title О компании
		ul.b-breadcrumbs
			li._item
				a._link(href="index.html") Главная
					span._seperator
						+icon('arrow-right')
			li._item.-disabled
				a._link(href="#") О компании
	.b-about._about
		.container._container
			h2._title Приветствуем Вас, наш дорогой покупатель!
			._desc.lg-desc
				p Компания «Орехпродукт» - лидер в сфере производства ингредиентов  из орехов и полуфабрикатов из них, для пищевой промышленности. В своем производстве мы используем самые современные технологические методики и отборные сорта лучших ореховых культур благодаря чему качество произведенного сырья «Орехпродукт» не уступает лучшим зарубежным аналогам. Кроме того мы постоянно работаем над сохранением всех вкусовых характеристик и полезных свойств продукта, а закупки сырья производятся непосредственно в местах произрастания и возделывания культур. 
			._banner-wrap
				a._play-btn(href="https://www.youtube.com/watch?v=SFfssJfYyD0", data-fancybox)
					span._icon-wrap
						+icon('thin-play-icon')
					span._play-btn-text Смотреть презентацию о компании
				._banner-img-wrap
					img._banner-img(src="img/about/banner-img.png", alt="")
			h3._lg-title Компания производит более 100 наименований продукции из отборных орехов, а также выпускает готовые продукты питания под частными торговыми марками для розничных сетей. 
			._md-desc.md-desc
				p Внушительный технологический парк оборудования с уникальными технологическими возможностями, позволяет выпускать широкий ассортимент продукции, который Вы можете посмотреть на нашем сайте. Сырье отбирается по высоким стандартам и проходит строгий контроль качества, обязательное микробиологическое исследование, оформляется вся необходимая документация, подтверждающая качество продукции.
				p Помимо наилучшего качества, в приоритете компании «Орехпродукт», стоит взаимовыгодное и долгосрочное партнерство, которое позволяет постоянно расширять и укреплять  деловые связи. Это надежный и ответственный партнер, который всегда своевременно и в полном объеме выполняет взятые на себя обязательства.
			h4._md-title.md-title «Орехпродукт» предлагает гибкие схемы реализации продукции компании на территории Российской Федерации:
			.row._row
				._col.-left
					.b-advantages-item
						._ellipse
							._icon-wrap
								+icon('check')
						._text Сертифицированная продукция из отборного сырья
				._col.-center
					.b-advantages-item
						._ellipse
							._icon-wrap
								+icon('check')
						._text Индивидуальный подход, отсрочка платежа
				._col.-right
					.b-advantages-item
						._ellipse
							._icon-wrap
								+icon('check')
						._text Налаженная логистика по России по и ближнему зарубежью.
			.b-about-gallery
				._wrap
					._content-wrap
						._title.xl-title Основные принципы производства
						.b-lg-desc.-roboto._desc Компания работает под заказ, таким образом, товар не складируется на складе, остатки не копятся и как итог - наши клиенты всегда получают свежую продукцию, с большим запасом срока  годности, а заказ и доставка осуществляется в течении всего нескольких дней.
					._images
						._img-wrap
							img._img(src="img/about/gallery/item1.jpg", alt="")
						._img-wrap
							img._img(src="img/about/gallery/item2.jpg", alt="")
							._small-desc Применение международных стандартов качества и современных технологий производства
						._img-wrap
							img._img(src="img/about/gallery/item3.jpg", alt="")