.b-mfp.-ask-popup.zoom-anim-dialog.mfp-hide#ask-popup-main
	.b-request-popup
		._top-row
			a.b-logo._logo(href="index.html")
				img._img(src="img/logo/logo.svg", alt="")
		._wrap
			h2._title Задать вопрос
			form._form
				._inputs
					+input('text','name','Имя','Как к вам обращаться?', true)
					+input('email','email','Email','Email', true)
					+input('text','phone','Телефон','Телефон', true)
					+textarea('comments', 'Комментарий', 'Комментарий', false)
				button.b-trs-btn.-small._btn(type='submit') Отправить вопрос
				.b-form-result
					.b-mess
						._title Спасибо!
						._desc Мы свяжемся с Вами в ближайшее время.