.b-mfp.-catalog-popup.zoom-anim-dialog.mfp-hide#catalog
	.b-catalog-popup
		.container
			h2._title Каталог
			.b-product-catalog
				.row._row
					._col
						a._item.-flour(href="flour.html")
							span._title Мука
							span._img-wrap
								img._img(src="img/catalog/flour.png", alt="")
					._col
						a._item.-mash(href="mash.html")
							span._title Замороженное пюре
							span._img-wrap
								img._img(src="img/catalog/mash.png", alt="")
					._col
						a._item.-paste(href="paste.html")
							span._title Паста,<br> Урбеч
							span._img-wrap
								img._img(src="img/catalog/paste.png", alt="")
					._col
						a._item.-praline(href="praline.html")
							span._title Пралине
							span._img-wrap
								img._img(src="img/catalog/praline.png", alt="")
					._col
						a._item.-fried-onion(href="praline.html")
							span._title Хрустящий жареный лук
							span._img-wrap
								img._img(src="img/catalog/fried-onion.png", alt="")
					._col
						a._item.-spices(href="spices.html")
							span._title Специи
							span._img-wrap
								img._img(src="img/catalog/spices.png", alt="")
					._col
						a._item.-nuts(href="nuts.html")
							span._title Орехи
							span._img-wrap
								img._img(src="img/catalog/nuts.png", alt="")
					._col
						a._item.-chopped-nuts(href="chopped-nuts.html")
							span._title Дробленые <br>и нарезанные орехи
							span._img-wrap
								img._img(src="img/catalog/chopped-nuts.png", alt="")
					._col
						a._item.-inventory(href="inventory.html")
							span._title Инвентарь
							span._img-wrap
								img._img(src="img/catalog/inventory.png", alt="")
					._col
						a._item.-marchpane(href="marchpane.html")
							span._title Марципановая масса
							span._img-wrap
								img._img(src="img/catalog/marchpane.png", alt="")