.b-mfp.-menu.zoom-anim-dialog.mfp-hide#menu
	.b-menu
		._row.-top
			._top-col.-left
				a.b-logo._logo(href="index.html")
					img._img(src="img/logo/logo.svg", alt="")
				._mobile-title Меню
			._top-col.-right
				._info-wrap
					._feedback-wrap
						a.b-phone._phone(href="tel:+74959611721")
							span._icon-wrap
								+icon('square-phone')
							span._text +7 (495) 961-17-21
						a.b-email._email(href="mailto:peresvet@orehprodukt.ru") peresvet@orehprodukt.ru
					._btn-wrap
						a.b-trs-btn.-small._btn.js-popup(href="#ask-popup-main") Задать вопрос
		._row.-center
			._col.-left
				nav.b-big-nav
					ul._list
						li._item
							a._link(href="about.html") О компании
						li._item
							a._link(href="services.html") Услуги
						li._item
							a._link(href="partners.html") Партнерам
						li._item
							a._link(href="contacts.html") Контакты
			._col.-right
				nav.b-small-nav
					ul._list
						li._item
							a._link(href="flour.html") Мука
						li._item
							a._link(href="mash.html") Замороженное пюре
						li._item
							a._link(href="paste.html") Паста, Урбеч
						li._item
							a._link(href="praline.html") Пралине
						li._item
							a._link(href="spices.html") Специи
						li._item
							a._link(href="nuts.html") Орехи
						li._item
							a._link(href="chopped-nuts.html") Дробленые и нарезанные орехи
						li._item
							a._link(href="inventory.html") Инвентарь для кондитеров
						li._item
							a._link(href="marchpane.html") Марципановая масса
			._col.-mobile
				.b-address._address
					._icon-wrap
						+icon('geo')
					._text г. Москва, м. Шелепиха, Шмитовский проезд, дом 34, стр. 2, этаж 1, офис 7.
		._row.-bottom
			._col.-left
				.b-copyright-text © «ОрехПродукт»
			._col.-right
				.b-copyright-text г. Москва, м. Шелепиха, Шмитовский проезд, дом 34, стр. 2, этаж 1, офис 7.