.b-mfp.-request-popup.-price-list.zoom-anim-dialog.mfp-hide#price-list
	.b-request-popup
		h2._title Заказать прайс лист
		form._form
			._inputs
				+input('text','name','Имя','Как к вам обращаться?', true)
				+input('email','email','Email','Email', true)
				+input('text','phone','Телефон','Телефон', true)
				+textarea('comments', 'Комментарий', 'Комментарий', false)
			button.b-trs-btn.-small._btn(type='submit') Заказать прайс лист
			.b-form-result
				.b-mess
					._title Спасибо!
					._desc Мы свяжемся с Вами в ближайшее время.