section.b-section.-small-header.-contacts-page
	._bg-wrap(style="background-color: #F9F6F0")
	.container
		h1._title Контакты
		ul.b-breadcrumbs
			li._item
				a._link(href="index.html") Главная
					span._seperator
						+icon('arrow-right')
			li._item.-disabled
				a._link(href="#") Контакты
	.b-contacts._contacts
		.container._container
			.row._row
				._col.-left
					._small-title Менеджеры
					._feedback-item-list
						._feedback-item
							._name.md-title Анастасия
							a.b-phone.-normal.-black.-fw-medium._phone(href="tel:+74959611721") +7 (495) 961-17-21
							a.b-email.-fw-medium._email(href="mailto:peresvet@orehprodukt.ru") peresvet@orehprodukt.ru
						._feedback-item
							._name.md-title Анастасия
							a.b-phone.-normal.-black.-fw-medium._phone(href="tel:+74959611721") +7 (495) 961-17-21
							a.b-email.-fw-medium._email(href="mailto:peresvet@orehprodukt.ru") peresvet@orehprodukt.ru
						._feedback-item
							._name.md-title Анастасия
							a.b-phone.-normal.-black.-fw-medium._phone(href="tel:+74959611721") +7 (495) 961-17-21
							a.b-email.-fw-medium._email(href="mailto:peresvet@orehprodukt.ru") peresvet@orehprodukt.ru
				._col.-center
					._small-title Адрес
					._text.-address г. Москва, м. Шелепиха, <br>Шмитовский проезд, дом 34,<br> стр. 2, этаж 1, офис 7.
				._col.-right
					._small-title Часы работы
					._text.-worktime Пн–Пт 9:30–18:00
			._feedback-btn-wrap
				a.b-trs-btn.-small._btn.js-popup(href="#ask-popup") Оставить заявку
	.b-map(data-cords-latitude="55.851935", data-cords-longtitude="37.670088")
		#map