section.b-category-section.-chopped-nuts.fp-section(data-anchor="chopped-nuts")
	.container._container
		._title-wrap
			h2._title.section-title Дробленые и нарезанные орехи
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/chopped-nuts.png", alt="")
			a.b-link._link(href="chopped-nuts.html") Смотреть все товары
	.b-products-presentation.-chopped-nuts
		._img-wrap.-left
			img._img(src="img/index/categories/chopped-nuts/left-img.png", alt="")
		._img-wrap.-center
			img._img(src="img/index/categories/chopped-nuts/center-img.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/chopped-nuts/right-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/chopped-nuts/item1.png", alt="")
			._item
				img._img(src="img/index/categories/chopped-nuts/item2.png", alt="")
			._item
				img._img(src="img/index/categories/chopped-nuts/item3.png", alt="")
			._item
				img._img(src="img/index/categories/chopped-nuts/item4.png", alt="")
			._item
				img._img(src="img/index/categories/chopped-nuts/item5.png", alt="")
			._item
				img._img(src="img/index/categories/chopped-nuts/item6.png", alt="")