section.b-category-section.-flour.fp-section(data-anchor="flour")
	.container._container
		._title-wrap
			h2._title.section-title Мука
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/flour.png", alt="")
			a.b-link._link(href="flour.html") Смотреть все товары
	.b-products-presentation.-flour
		._background-shadow
			img._img(src="img/index/categories/flour/background-shadow.png", alt="")
		._img-wrap.-left
			img._img(src="img/index/categories/flour/left-flour.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/flour/right-flour.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/flour/item1.png", alt="")
			._item
				img._img(src="img/index/categories/flour/item2.png", alt="")
			._item
				img._img(src="img/index/categories/flour/item3.png", alt="")
			._item
				img._img(src="img/index/categories/flour/item4.png", alt="")
			._item
				img._img(src="img/index/categories/flour/item5.png", alt="")
			._item
				img._img(src="img/index/categories/flour/item6.png", alt="")
			._item
				img._img(src="img/index/categories/flour/item7.png", alt="")