section.b-category-section.-nuts.fp-section(data-anchor="nuts")
	.container._container
		._title-wrap
			h2._title.section-title Орехи
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/nuts.png", alt="")
			a.b-link._link(href="nuts.html") Смотреть все товары
	.b-products-presentation.-nuts
		._background-shadow
			img._img(src="img/index/categories/nuts/background-shadow.png", alt="")
		._img-wrap.-left
			img._img(src="img/index/categories/nuts/left-img.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/nuts/right-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/nuts/item1.png", alt="")
			._item
				img._img(src="img/index/categories/nuts/item2.png", alt="")
			._item
				img._img(src="img/index/categories/nuts/item3.png", alt="")
			._item
				img._img(src="img/index/categories/nuts/item4.png", alt="")
			._item
				img._img(src="img/index/categories/nuts/item5.png", alt="")
			._item
				img._img(src="img/index/categories/nuts/item6.png", alt="")