section.b-category-section.-mash.fp-section(data-anchor="mash")
	.container._container
		._title-wrap
			h2._title.section-title Замороженное пюре
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/mash.png", alt="")
			a.b-link._link(href="mash.html") Смотреть все товары
	.b-products-presentation.-mash
		._background-shadow
			img._img(src="img/index/categories/mash/background-shadow.png", alt="")
		._img-wrap.-left
			img._img(src="img/index/categories/mash/left-img.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/mash/right-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/mash/item1.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item2.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item3.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item4.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item5.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item6.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item7.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item8.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item9.png", alt="")
			._item
				img._img(src="img/index/categories/mash/item10.png", alt="")
	._btn-oval-wrap
		a.b-btn-oval._btn-oval(href="https://www.youtube.com/watch?v=6eqPkpOOAxE" data-fancybox)
			span._icon-wrap
				+icon('play')
			span._text Смотреть презентацию