section.b-category-section.-inventory.fp-section(data-anchor="inventory")
	.container._container
		._title-wrap
			h2._title.section-title Инвентарь для кондитеров
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/inventory.png", alt="")
			a.b-link._link(href="inventory.html") Смотреть все товары
	.b-products-presentation.-inventory
		._background-shadow
			img._img(src="img/index/categories/inventory/background-shadow.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/inventory/item1.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item2.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item3.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item4.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item5.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item6.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item7.png", alt="")
			._item
				img._img(src="img/index/categories/inventory/item8.png", alt="")