section.b-category-section.-spices.fp-section(data-anchor="spices")
	.container._container
		._title-wrap
			h2._title.section-title Специи
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/spices.png", alt="")
			a.b-link._link(href="spices.html") Смотреть все товары
	.b-products-presentation.-spices
		._background-shadow
			img._img(src="img/index/categories/spices/background-shadow.png", alt="")
		._img-wrap.-left
			img._img(src="img/index/categories/spices/left-img.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/spices/right-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/spices/item1.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item2.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item3.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item4.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item5.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item6.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item7.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item8.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item9.png", alt="")
			._item
				img._img(src="img/index/categories/spices/item10.png", alt="")