section.b-category-section.-paste.fp-section(data-anchor="paste")
	.container._container
		._title-wrap
			h2._title.section-title Паста, Урбеч
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/paste.png", alt="")
			a.b-link._link(href="paste.html") Смотреть все товары
	.b-products-presentation.-paste
		._background-shadow
			img._img(src="img/index/categories/paste/background-shadow.png", alt="")
		._img-wrap.-item1
			img._img(src="img/index/categories/paste/img-item1.png", alt="")
		._img-wrap.-item2
			img._img(src="img/index/categories/paste/img-item2.png", alt="")
		._img-wrap.-item3
			img._img(src="img/index/categories/paste/img-item3.png", alt="")
		._img-wrap.-item4
			img._img(src="img/index/categories/paste/img-item4.png", alt="")
		._img-wrap.-item5
			img._img(src="img/index/categories/paste/img-item5.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/paste/item1.png", alt="")
			._item
				img._img(src="img/index/categories/paste/item2.png", alt="")