section.b-category-section.-praline.fp-section(data-anchor="praline")
	.container._container
		._title-wrap
			h2._title.section-title Пралине
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/praline.png", alt="")
			a.b-link._link(href="praline.html") Смотреть все товары
	.b-products-presentation.-praline
		._background-shadow
			img._img(src="img/index/categories/praline/background-shadow.png", alt="")
		._img-wrap.-left
			img._img(src="img/index/categories/praline/left-img.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/praline/right-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/praline/item1.png", alt="")
			._item
				img._img(src="img/index/categories/praline/item2.png", alt="")
			._item
				img._img(src="img/index/categories/praline/item3.png", alt="")
			._item
				img._img(src="img/index/categories/praline/item4.png", alt="")