section.b-category-section.-fried-onion.fp-section(data-anchor="fried-onion")
	.container._container
		._title-wrap
			h2._title.section-title Хрустящий жареный лук
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/fried-onion.png", alt="")
			a.b-link._link(href="fried-onion.html") Смотреть все товары
	.b-products-presentation.-fried-onion
		._img-wrap.-left
			img._img(src="img/index/categories/fried-onion/left-img.png", alt="")
		._img-wrap.-right
			img._img(src="img/index/categories/fried-onion/right-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/fried-onion/item1.png", alt="")
			._item
				img._img(src="img/index/categories/fried-onion/item2.png", alt="")
			._item
				img._img(src="img/index/categories/fried-onion/item3.png", alt="")
			._item
				img._img(src="img/index/categories/fried-onion/item4.png", alt="")
			._item
				img._img(src="img/index/categories/fried-onion/item5.png", alt="")
			._item
				img._img(src="img/index/categories/fried-onion/item6.png", alt="")
			._item
				img._img(src="img/index/categories/fried-onion/item7.png", alt="")