section.b-category-section.-marchpane.fp-section(data-anchor="marchpane")
	.container._container
		._title-wrap
			h2._title.section-title Марципановая масса
			._mobile-img-wrap
				img._mobile-img(src="img/index/categories/mobile-images/marchpane.png", alt="")
			a.b-link._link(href="marchpane.html") Смотреть все товары
	.b-products-presentation.-marchpane
		._img-wrap.-center
			img._img(src="img/index/categories/marchpane/center-img.png", alt="")
		._items-wrap
			._item
				img._img(src="img/index/categories/marchpane/item1.png", alt="")
			._item
				img._img(src="img/index/categories/marchpane/item2.png", alt="")
			._item
				img._img(src="img/index/categories/marchpane/item3.png", alt="")
			._item
				img._img(src="img/index/categories/marchpane/item4.png", alt="")
			._item
				img._img(src="img/index/categories/marchpane/item5.png", alt="")
			._item
				img._img(src="img/index/categories/marchpane/item6.png", alt="")