section.b-section.-small-header.-404-page
	._bg-wrap(style="background-color: #F9F6F0")
	.container
		.b-section-404
			h1._title 404
			._small-desc Страница не найдена.
			a.b-btn._btn(href="#") На главную