.products-presentation
	position: relative
	+lg
		display: none !important
	&--flour
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vw
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--left
					top: 2.043vh
					width: 52.708vw
					height: 70.787vh
					z-index: 2
					margin-left: 2.656vw
				&--right
					width: 45vw
					height: 65.986vh
					z-index: 1
					margin-left: 1.771vw
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 11.615vw
					bottom: 17.467vh
					width: 4.531vw
					height: 14.198vh
				&:nth-child(2)
					left: 8.594vw
					bottom: 34.116vh
					width: 4.219vw
					height: 6.537vh
				&:nth-child(3)
					left: 7.656vw
					top: 17.160vh
					width: 11.771vw
					height: 27.068vh
				&:nth-child(4)
					left: 10.156vw
					top: 1.634vh
					width: 14.427vw
					height: 14.096vh
					z-index: 2
				&:nth-child(5)
					right: 7.813vw
					top: 2.656vh
					width: 30.677vw
					height: 28.805vh
					z-index: 1
				&:nth-child(6)
					right: 24.010vw
					bottom: 27.783vh
					width: 7.448vw
					height: 14.913vh
					z-index: 1
				&:nth-child(7)
					right: 10.677vw
					bottom: 18.182vh
					width: 9.167vw
					height: 20.327vh
					z-index: 1

	&--mash
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vw
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--left
					top: 2.554vh
					width: 36.927vw
					height: 74.055vh
					z-index: 2
					margin-left: -16.250vw
				&--right
					top: 1.839vh
					width: 37.813vw
					height: 64.862vh
					z-index: 1
					margin-left: 16.458vw
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 10.833vw
					bottom: 16.241vh
					width: 10.573vw
					height: 18.795vh
				&:nth-child(2)
					left: 2.552vw
					bottom: 28.090vh
					width: 14.740vw
					height: 42.492vh
					z-index: 2
				&:nth-child(3)
					left: 10.625vw
					top: 1.328vh
					width: 6.927vw
					height: 13.381vh
				&:nth-child(4)
					left: 29.167vw
					top: 14.607vh
					width: 7.917vw
					height: 15.322vh
					z-index: 1
				&:nth-child(5)
					right: 16.146vw
					top: -0.204vh
					width: 8.281vw
					height: 16.445vh
					z-index: 1
				&:nth-child(6)
					right: 5.625vw
					top: -0.306vh
					width: 15.677vw
					height: 41.369vh
					z-index: 1
				&:nth-child(7)
					right: 5.781vw
					top: 10.521vh
					width: 6.146vw
					height: 9.499vh
					z-index: 1
				&:nth-child(8)
					right: 12.083vw
					top: 29.520vh
					width: 8.438vw
					height: 14.607vh
				&:nth-child(9)
					right: 12.917vw
					top: 36.466vh
					width: 10.156vw
					height: 20.225vh
					z-index: 1
				&:nth-child(10)
					right: 17.083vw
					bottom: 12.870vh
					width: 10.677vw
					height: 21.757vh
					z-index: 1

	&--paste
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vw
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--item1
					top: 2vh
					width: 17.188vw
					height: 44.842vh
					margin-left: -21.458vw
					z-index: 1
				&--item2
					top: 11.4vh
					width: 38.646vw
					height: 56.588vh
					margin-left: -3.438vw
					z-index: 2
				&--item3
					top: 18.8vh
					width: 62.135vw
					height: 54.648vw
					z-index: 3
				&--item4
					top: 13.2vh
					width: 37.344vw
					height: 54.545vh
					z-index: 2
					margin-left: 1.302vw
				&--item5
					top: 4.4vh
					width: 15.365vw
					height: 42.492vh
					z-index: 1
					margin-left: 19.896vw
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					top: 18.795vh
					left: 1.250vw
					width: 6.146vw
					height: 19.714vh
					z-index: 0
				&:nth-child(2)
					top: 14.198vh
					right: 2.865vw
					width: 6.823vw
					height: 16.854vh
					z-index: 0
	
	&--praline
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vw
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--left
					top: 9.3vh
					width: 30.938vw
					height: 56.078vh
					z-index: 2
					margin-left: -12.5vw
				&--right
					top: 8.95vh
					width: 31.198vw
					height: 50.153vh
					z-index: 1
					margin-left: 12.786vw
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 13.5vw
					top: 1.7vh
					width: 39.427vw
					height: 58.938vh
					z-index: 3
				&:nth-child(2)
					left: 15.45vw
					top: 29.2vh
					width: 9.948vw
					height: 14.096vh
					z-index: 1
				&:nth-child(3)
					left: 18.35vw
					top: 1.5vh
					width: 4.167vw
					height: 6.129vh
				&:nth-child(4)
					right: 16.35vw
					top: 34.5vh
					width: 6.667vw
					height: 10.317vh
					z-index: 0

	&--spices
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vw
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--left
					top: 12.654vh
					width: 41.563vw
					height: 72.012vh
					margin-left: -13vw
					z-index: 2
				&--right
					top: 10.349vh
					width: 38.073vw
					height: 67.518vh
					margin-left: 13.698vw
					z-index: 1
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 5.6vw
					bottom: 23.2vh
					width: 10.260vw
					height: 30.337vh
				&:nth-child(2)
					left: 9.2vw
					top: 16.75vh
					width: 9.010vw
					height: 18.897vh
				&:nth-child(3)
					left: 14.45vw
					top: 12.4vh
					width: 14.635vw
					height: 20.020vh
				&:nth-child(4)
					left: 17.7vw
					top: 7.5vh
					width: 13.073vw
					height: 18.693vh
				&:nth-child(5)
					right: 19.9vw
					top: 10.4vh
					width: 16.198vw
					height: 23.902vh
				&:nth-child(6)
					right: 11.95vw
					top: 3.8vh
					width: 8.542vw
					height: 23.391vh
				&:nth-child(7)
					right: 8.6vw
					top: 16.3vh
					width: 6.823vw
					height: 16.854vh
				&:nth-child(8)
					right: 6.4vw
					top: 36.4vh
					width: 12.813vw
					height: 23.698vh
				&:nth-child(9)
					right: 13.85vw
					top: 39.5vh
					width: 5.677vw
					height: 5.720vh
					z-index: 1
				&:nth-child(10)
					right: 19.5vw
					bottom: 17.1vh
					width: 20.781vw
					height: 21.859vh
					z-index: 1

	&--nuts
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vw
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--left
					top: 12.257vh
					width: 65.938vw
					height: 64.351vh
					z-index: 2
					margin-left: -16.55vw
				&--right
					top: 9.908vh
					width: 34.688vw
					height: 60.368vw
					z-index: 1
					margin-left: 23.458vw
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 10.18vw
					bottom: 25.241vh
					width: 6.354vw
					height: 10.827vh
					z-index: 2
				&:nth-child(2)
					top: 29.213vh
					left: 4.115vw
					width: 6.146vw
					height: 9.499vh
				&:nth-child(3)
					left: 8.225vw
					top: 2.228vh
					width: 6.198vw
					height: 15.322vh
				&:nth-child(4)
					left: 15.967vw
					top: 4.707vh
					width: 4.740vw
					height: 8.682vh
				&:nth-child(5)
					right: 2.45vw
					top: 9.196vh
					width: 30.729vw
					height: 28.907vh
					z-index: 1
				&:nth-child(6)
					right: 10.825vw
					top: -2.806vh
					width: 15.990vw
					height: 59.551vh
					z-index: 1
	
	&--chopped-nuts
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vh
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
			&__img-wrap
				&--left
					top: 31.857vh
					width: 42.604vw
					height: 44.740vh
					z-index: 3
					margin-left: -21.25vw
				&--center
					top: 12.3vh
					width: 18.125vw
					height: 34.831vh
					margin-left: -11.55vw
					z-index: 1
				&--right
					top: 13.808vh
					width: 60.990vw
					height: 60.266vh
					z-index: 2
					margin-left: 12.73vw

			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 11.88vw
					bottom: 6.741vh
					width: 6.354vw
					height: 10.827vw
					z-index: 3
				&:nth-child(2)
					top: 37.613vh
					left: 7.215vw
					width: 5.156vw
					height: 15.935vh
					z-index: 3
				&:nth-child(3)
					left: 9.125vw
					top: 15.928vh
					width: 6.823vw
					height: 16.547vh
					z-index: 1
				&:nth-child(4)
					left: 25.3vw
					top: 12.207vh
					width: 6.927vw
					height: 11.542vh
					z-index: 0
				&:nth-child(5)
					right: 8.05vw
					top: 10.4vh
					width: 6.198vw
					height: 12.462vh
					z-index: 1
				&:nth-child(6)
					right: 5.8vw
					bottom: 15.9vh
					width: 17.500vw
					height: 37.181vh
					z-index: 2
	
	&--inventory
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__background-shadow
				position: absolute
				top: -7.150vh
				left: 0
				width: 100%
				height: inherit
				display: flex
				justify-content: center
				align-items: center
				z-index: 0
				img
					height: inherit
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 7.4vw
					bottom: 19.3vh
					width: 20.781vw
					height: 48.212vh
				&:nth-child(2)
					top: 3.1vh
					left: 4.95vw
					width: 33.229vw
					height: 81.410vw
				&:nth-child(3)
					left: 27.3vw
					top: 11vh
					width: 8.281vw
					height: 19.918vh
					z-index: 1
				&:nth-child(4)
					left: 16.95vw
					top: 15.6vh
					width: 30.469vw
					height: 49.745vh
					z-index: 1
				&:nth-child(5)
					right: 11.55vw
					top: 0.05vh
					width: 24.740vw
					height: 53.218vh
				&:nth-child(6)
					right: 10.15vw
					top: 7.5vh
					width: 17.969vw
					height: 37.181vh
				&:nth-child(7)
					left: 42.4vw
					top: 33.3vh
					width: 24.635vw
					height: 37.896vh
					z-index: 2
				&:nth-child(8)
					left: 19.5vw
					top: 43.2vh
					width: 42.188vw
					height: 38.202vh
					z-index: 2

	&--marchpane
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__img-wrap
				&--center
					top: 2.2vh
					width: 50.260vw
					height: 72.217vh
					margin-left: -10.35vw
					z-index: 2

			&__items-wrap
				width: inherit
				height: inherit

			&__item
				position: absolute
				&:nth-child(1)
					left: 13.2vw
					bottom: 31.3vh
					width: 16.250vw
					height: 22.574vh
					z-index: 1
				&:nth-child(2)
					top: 20.6vh
					left: 15.75vw
					width: 6.458vw
					height: 10.112vh
					z-index: 0
				&:nth-child(3)
					left: 13.25vw
					top: 5.3vh
					width: 8.125vw
					height: 17.569vh
					z-index: 1
				&:nth-child(4)
					left: 16.9vw
					top: 2.2vh
					width: 43.073vw
					height: 60.266vh
					z-index: 0
				&:nth-child(5)
					right: 13.85vw
					top: 12.5vh
					width: 11.927vw
					height: 57.201vh
					z-index: 2
				&:nth-child(6)
					right: 16.55vw
					bottom: 21.25vh
					width: 13.958vw
					height: 34.729vh
					z-index: 2


	&--fried-onion
		display: block
		margin: 0 auto
		margin-top: 7.150vh
		max-width: 67.188vw
		width: 100%
		height: calc( 100vh - 18.386vh)
		.products-presentation
			&__img-wrap
				&--left
					top: 12.257vh
					width: 41.615vw
					height: 58.938vh
					margin-left: -10vw
					z-index: 2
				&--right
					top: -1.1235vh
					width: 44.896vw
					height: 72.319vh
					margin-left: 12.65625vw
					z-index: 1
			&__items-wrap
				width: inherit
				height: inherit
			&__item
				position: absolute
				&:nth-child(1)
					left: 11.458vw
					bottom: 25.025vh
					width: 14.532vw
					height: 28.499vh
				&:nth-child(2)
					left: 13.541vw
					top: 6.332vh
					width: 10.365vw
					height: 16.752vh
				&:nth-child(3)
					left: 22.135vw
					top: -7.66vh
					width: 17.24vw
					height: 27.273vh
				&:nth-child(4)
					right: 15.989vw
					top: -7.456vh
					width: 15.99vw
					height: 28.499vh
				&:nth-child(5)
					right: 10.52vw
					bottom: 34.831vh
					z-index: 2
					width: 10.99vw
					height: 18.693vh
				&:nth-child(6)
					right: 17.708vw
					bottom: 27.272vh
					z-index: 2
					width: 10.052083vw
					height: 20.327vh
				&:nth-child(7)
					right: 28.177vw
					bottom: 15.628vh
					z-index: 2
					width: 9.532vw
					height: 16.65vh




	&__img-wrap
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)