include ../layout/_mixins

doctype html
html(lang="ru")
	block head
		- var title = 'Контакты | Орехпродукт'
	include ../layout/_head
	body
		|
		|
		// Header
		include ../layout/_header

		// content
		main.contacts-page
			// Sections
			include ./contacts/main.pug
		|
		|
		|
		include ../layout/modules/catalog-popup
		include ../layout/modules/menu-popup
		include ../layout/modules/ask-popup
		// Scripts
		script(src="js/libs.min.js")
		script(src="js/main.min.js")
		script(src="js/maps.js")