section.b-section.-chopped-nuts
	._bg-wrap(style="background-color: #FEF8E1")
		._bg-img-wrap
			img._bg-img(src="img/categories/nuts/bg-img.png", alt="")
		.container
			h1._title Дробленные и нарезанные орехи
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Дробленные и резанные орехи
	.container._container
		._product-title-wrap
			h2._product-title Лепестки, иголочки
		.b-products._products
			.row
				+productItemModified('img/categories/chopped-nuts/item1.png', 'Фундучные лепестки', 'big', 'chopped-nuts', 'chopped-nuts1', 'Нарезанные фундучные лепестки')
				+productItemModified('img/categories/chopped-nuts/item2.png', 'Миндальные лепестки', 'big', 'chopped-nuts', 'chopped-nuts2', 'Нарезанные миндальные лепестки')
				+productItemModified('img/categories/chopped-nuts/item3.png', 'Арахисовые лепестки', 'big', 'chopped-nuts', 'chopped-nuts3', 'Нарезанные арахисовые лепестки')
				+productItemModified('img/categories/chopped-nuts/item4.png', 'Фисташковые лепестки', 'big', 'chopped-nuts', 'chopped-nuts4', 'Нарезанные фисташковые лепестки')
				+productItemModified('img/categories/chopped-nuts/item5.png', 'Миндальные иголочки', 'big', 'chopped-nuts', 'chopped-nuts5', 'Нарезанные миндальные иголочки')
				+productItemModified('img/categories/chopped-nuts/item6.png', 'Фисташковые иголочки', 'big', 'chopped-nuts', 'chopped-nuts6', 'Нарезанные фисташковые иголочки')
		._product-title-wrap
			h2._product-title Дробленый орех сырой и обжаренный
		.b-products
			.row
				+productItemModified('img/categories/chopped-nuts/item8.png', 'Фундук 0-2, 1-2 мм', 'big', 'chopped-nuts', 'chopped-nuts7', 'Дробленный фундук 0-2, 1-2 мм')
				+productItemModified('img/categories/chopped-nuts/item7.png', 'Фундук 2-4, 3-5, 5-7 мм', 'big', 'chopped-nuts', 'chopped-nuts8', 'Дробленный фундук 2-4, 3-5, 5-7 мм')
				+productItemModified('img/categories/chopped-nuts/item10.png', 'Арахис 0-2, 1-2 мм', 'big', 'chopped-nuts', 'chopped-nuts9', 'Дробленный арахис 0-2, 1-2 мм')
				+productItemModified('img/categories/chopped-nuts/item9.png', 'Арахис 2-4, 3-5, 5-7 мм', 'big', 'chopped-nuts', 'chopped-nuts10', 'Дробленный арахис 2-4, 3-5, 5-7 мм')
				+productItemModified('img/categories/chopped-nuts/item12.png', 'Фисташка 0-2, 1-2 мм', 'big', 'chopped-nuts', 'chopped-nuts11', 'Дробленная фисташка 0-2, 1-2 мм')
				+productItemModified('img/categories/chopped-nuts/item11.png', 'Фисташка 2-4, 3-5, 5-7 мм', 'big', 'chopped-nuts', 'chopped-nuts12', 'Дробленная фисташка 2-4, 3-5, 5-7 мм')
				+productItemModified('img/categories/chopped-nuts/item14.png', 'Миндаль 0-2, 1-2 мм', 'big', 'chopped-nuts', 'chopped-nuts13', 'Дробленный миндаль 0-2, 1-2 мм')
				+productItemModified('img/categories/chopped-nuts/item13.png', 'Миндаль 2-4, 3-5, 5-7 мм', 'big', 'chopped-nuts', 'chopped-nuts14', 'Дробленный миндаль 2-4, 3-5, 5-7 мм')