section.b-section.-flour
	._bg-wrap(style="background-color: #FFF6E4")
		._bg-img-wrap
			img._bg-img(src="img/categories/flour/bg-img.png", alt="")
		.container._top-container
			h1._title Мука
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Мука
	.container._container
		.b-products
			.row
				+productItem('img/categories/flour/item1.png', 'Миндальная мука', 'big', 'flour1', 'Миндальная мука')
				+productItem('img/categories/flour/item9.png', 'Миндальная мука крупного помола', 'big', 'flour2', 'Миндальная мука крупного помола')
				+productItem('img/categories/flour/item2.png', 'Фисташковая мука', 'big', 'flour3', 'Фисташковая мука')
				+productItem('img/categories/flour/item3.png', 'Кокосовая мука', 'big', 'flour4', 'Кокосовая мука')
				+productItem('img/categories/flour/item4.png', 'Кешью мука', 'big', 'flour5', 'Кешью мука')
				+productItem('img/categories/flour/item5.png', 'Фундучная мука', 'big', 'flour6', 'Фундучная мука')
				+productItem('img/categories/flour/item6.png', 'Амарантовая мука', 'big', 'flour7', 'Амарантовая мука')
				+productItem('img/categories/flour/item7.png', 'Кунжутная мука', 'big', 'flour8', 'Кунжутная мука')
				+productItem('img/categories/flour/item8.png', 'Льяная мука', 'big', 'flour9', 'Льяная мука')
	.b-banner.-flour._banner(style="background: url('img/categories/paste/banner-bg.jpg') no-repeat center center/cover;")
		._product-img-wrap
			img._product-img(src="img/categories/flour/banner-img.png", alt="")
			img._product-img.-mobile(src="img/categories/flour/banner-img-mobile.png", alt="")