section.b-section.-fried-onion
	._bg-wrap(style="background-color: #F3DDA9")
		._bg-img-wrap
			img._bg-img(src="img/categories/fried-onion/bg-img.png", alt="")
		.container
			h1._title Хрустящий жареный лук
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Хрустящий жареный лук
	.container._container
		.b-products
			.row