section.b-section.-inventory
	._bg-wrap(style="background-color: #F0FAFF")
		._bg-img-wrap
			img._bg-img(src="img/categories/inventory/bg-img.png", alt="")
		.container
			h1._title Инвентарь для кондитеров
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Инвентарь для кондитеров
	.container._container
		.b-products
			.row
				+productItemModified('img/categories/inventory/item1.png', 'Силиконовые молды', 'small', 'inventory', 'inventory1', 'Силиконовые молды')
				+productItemModified('img/categories/inventory/item2.png', 'Силиконовые формы', 'small', 'inventory', 'inventory2', 'Силиконовые формы')
				+productItemModified('img/categories/inventory/item3.png', 'Упаковка', 'small', 'inventory', 'inventory3', 'Упаковка')
				+productItemModified('img/categories/inventory/item4.png', 'Формы для конфет и шоколада', 'small', 'inventory', 'inventory4', 'Формы для конфет и шоколада')
				+productItemModified('img/categories/inventory/item5.png', 'Формы для выпечки', 'small', 'inventory', 'inventory5', 'Формы для выпечки')
				+productItemModified('img/categories/inventory/item6.png', 'Насадки, шприцы, мешочки, переходники', 'small', 'inventory', 'inventory6', 'Насадки, шприцы, мешочки, переходники')
				+productItemModified('img/categories/inventory/item7.png', 'Формы для вырубки', 'small', 'inventory', 'inventory7', 'Формы для вырубки')
				+productItemModified('img/categories/inventory/item8.png', 'Коврики для выпечки', 'small', 'inventory', 'inventory8', 'Коврики для выпечки')
				+productItemModified('img/categories/inventory/item9.png', 'Кондитерские инструменты', 'small', 'inventory', 'inventory9', 'Кондитерские инструменты')
				+productItemModified('img/categories/inventory/item10.png', 'Измерительные<br> приборы', 'small', 'inventory', 'inventory10', 'Измерительные<br> приборы')
				+productItemModified('img/categories/inventory/item11.png', 'Кондитерские Аксессуары', 'small', 'inventory', 'inventory11', 'Кондитерские Аксессуары')
				+productItemModified('img/categories/inventory/item12.png', 'Красители', 'small', 'inventory', 'inventory12', 'Разделочные доски')