section.b-section.-mash
	._bg-wrap(style="background-color: #FEECF9;")
		._bg-img-wrap
			img._bg-img(src="img/categories/mash/bg-img.png", alt="")
		.container._top-container
			h1._title Замороженное пюре
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Замороженное пюре
	.container._container
		._desc-wrap
			._desc
				p Наша компания специализируется на производстве сырья из орехов, свежих ягод и фруктов. Наши пюре производятся из лучших сортов , фруктов, ягод и овощей на современном оборудовании. Качество произведенного замороженного пюре не уступает лучшим зарубежным аналогам. Гибкая ценовая политика рассчитана на требования и возможности любого заказчика. Предлагаемый ассортимент продукции сертифицирован и проходит контроль на соответствие стандартам качества.
			._btn-oval-wrap
				a.b-btn-oval._btn-oval(href="https://www.youtube.com/watch?v=6eqPkpOOAxE" data-fancybox)
					span._icon-wrap
						+icon('play')
					span._text Смотреть презентацию
		.b-products
			.row
				+productItem('img/categories/mash/item1.png', 'Малина', 'small', 'mash1', 'Пюре малина')
				+productItem('img/categories/mash/item2.png', 'Манго', 'small', 'mash2', 'Пюре манго')
				+productItem('img/categories/mash/item3.png', 'Смородина красная', 'small', 'mash3', 'Пюре смородина красная')
				+productItem('img/categories/mash/item4.png', 'Смородина черная', 'small', 'mash4', 'Пюре смородина черная')
				+productItem('img/categories/mash/item5.png', 'Кокос', 'small', 'mash5', 'Пюре кокос')
				+productItem('img/categories/mash/item6.png', 'Клубника', 'small', 'mash6', 'Пюре клубника')
				+productItem('img/categories/mash/item7.png', 'Черника', 'small', 'mash7', 'Пюре черника')
				+productItem('img/categories/mash/item8.png', 'Брусника', 'small', 'mash8', 'Пюре брусника')
				+productItem('img/categories/mash/item9.png', 'Клюква', 'small', 'mash9', 'Пюре клюква')
				+productItem('img/categories/mash/item10.png', 'Вишня', 'small', 'mash10', 'Пюре вишня')
				+productItem('img/categories/mash/item11.png', 'Облепиха', 'small', 'mash11', 'Пюре облепиха')
				+productItem('img/categories/mash/item12.png', 'Ежевика', 'small', 'mash12', 'Пюре ежевика')
				+productItem('img/categories/mash/item13.png', 'Маракуя', 'small', 'mash13', 'Пюре маракуя')
				+productItem('img/categories/mash/item14.png', 'Маракуя с косточкой', 'small', 'mash14', 'Пюре маракуя с косточкой')