section.b-section.-nuts
	._bg-wrap(style="background-color: #FEF8E1")
		._bg-img-wrap
			img._bg-img(src="img/categories/nuts/bg-img.png", alt="")
		.container
			h1._title Орехи
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Орехи
	.container._container
		.b-products
			.row
				+productItemModified('img/categories/nuts/item1.png', 'Миндаль', 'big', 'nuts', 'nuts1', 'Миндаль', 'simple')
				+productItemModified('img/categories/nuts/item2.png', 'Миндаль бланшированный', 'big', 'nuts', 'nuts2', 'Миндаль бланшированный', 'simple')
				+productItemModified('img/categories/nuts/item6.png', 'Фундук', 'big', 'nuts', 'nuts6', 'Фундук', 'simple')
				+productItemModified('img/categories/nuts/item7.png', 'Фундук бланшированный', 'big', 'nuts', 'nuts7', 'Фундук бланшированный', 'simple')
				+productItemModified('img/categories/nuts/item4.png', 'Фисташка зеленая', 'big', 'nuts', 'nuts4', 'Фисташка зеленая', 'simple')
				+productItemModified('img/categories/nuts/item5.png', 'Фисташка бланшированная', 'big', 'nuts', 'nuts5', 'Фисташка бланшированная', 'simple')
				+productItemModified('img/categories/nuts/item3.png', 'Кешью', 'big', 'nuts', 'nuts3', 'Кешью', 'simple')