section.b-section.-paste
	._bg-wrap(style="background-color: #FBF4E1;")
		._bg-img-wrap
			img._bg-img(src="img/categories/paste/bg-img.png", alt="")
		.container._top-container
			h1._title Паста, Урбеч
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Паста, Урбеч
	.container._container
		._product-title-wrap
			h2._product-title Паста
		.b-products
			.row
				+productItemModified('img/categories/paste/item1.png', 'Арахисовая', 'small', 'paste', 'paste1', 'Арахисовая паста')
				+productItemModified('img/categories/paste/item2.png', 'Арахисовая обжаренная', 'small', 'paste', 'paste2', 'Арахисовая паста')
				+productItemModified('img/categories/paste/item3.png', 'Миндальная', 'small', 'paste', 'paste3', 'Миндальная паста')
				+productItemModified('img/categories/paste/item4.png', 'Кешью', 'small', 'paste', 'paste4', 'Кешью паста')
				+productItemModified('img/categories/paste/item5.png', 'Фисташковая', 'small', 'paste', 'paste5', 'Фисташковая паста')
				+productItemModified('img/categories/paste/item6.png', 'Фисташкова обжаренная', 'small', 'paste', 'paste6', 'Фисташкова паста')
				+productItemModified('img/categories/paste/item7.png', 'Кокосовая', 'small', 'paste', 'paste7', 'Кокосовая паста')
				+productItemModified('img/categories/paste/item8.png', 'Фундучная', 'small', 'paste', 'paste8', 'Фундучная паста')
	.b-bourbon-banner._bourbon-banner
		.container
			._row
				._col.-left
					h3._title Ванильная паста
					a.b-trs-btn.-small._btn(href="#") Подробнее
				._col.-right
					._img-wrap
						img._img(src="img/categories/paste/bourbon.png", alt="")

	.b-banner.-paste._banner(style="background: url('img/categories/paste/banner-bg.jpg') no-repeat center center/cover;")
		.container
			._wrap
				._col.-left
					._icon-wrap
						img._icon(src="img/categories/paste/banner-icon.svg", alt="")
					._content-wrap
						h3._title Так же имеется объем пасты 1 кг.
						._desc
							p У нас можно заказать партии пасты в любых объемах. Мы сотрудничаем с частными клиентами, предприятиями общественного питания, кондитерскими.
				._col.-right
					._product-img-wrap
						img._product-img(src="img/categories/paste/banner-product.png", alt="")
	.container
		._product-title-wrap
			h2._product-title Урбеч
		.b-products
			.row
				+productItemModified('img/categories/paste/urbach/item1.png', 'Урбеч из тыквы', 'small', 'paste', 'paste1', 'Урбеч из тыквы', 'simple')
				+productItemModified('img/categories/paste/urbach/item2.png', 'Урбеч из подсолнуха', 'small', 'paste', 'paste2', 'Урбеч из подсолнуха', 'simple')
				+productItemModified('img/categories/paste/urbach/item3.png', 'Урбеч из семян льна', 'small', 'paste', 'paste3', 'Урбеч из семян льна', 'simple')
				+productItemModified('img/categories/paste/urbach/item4.png', 'Урбеч из кунжута', 'small', 'paste', 'paste4', 'Урбеч из кунжута', 'simple')
				+productItemModified('img/categories/paste/urbach/item5.png', 'Урбеч из миндаля', 'small', 'paste', 'paste5', 'Урбеч из миндаля', 'simple')
				+productItemModified('img/categories/paste/urbach/item6.png', 'Урбеч из арахиса', 'small', 'paste', 'paste6', 'Урбеч из арахиса', 'simple')
				+productItemModified('img/categories/paste/urbach/item7.png', 'Урбеч из ореха', 'small', 'paste', 'paste7', 'Урбеч из ореха', 'simple')
				+productItemModified('img/categories/paste/urbach/item8.png', 'Урбеч из кешью', 'small', 'paste', 'paste8', 'Урбеч из кешью', 'simple')
				+productItemModified('img/categories/paste/urbach/item9.png', 'Урбеч из абрикоса', 'small', 'paste', 'paste9', 'Урбеч из абрикоса', 'simple')
				+productItemModified('img/categories/paste/urbach/item10.png', 'Урбеч из кокоса', 'small', 'paste', 'paste10', 'Урбеч из кокоса', 'simple')