section.b-section.-praline
	._bg-wrap(style="background-color: #FFFDF3;")
		._bg-img-wrap
			img._bg-img(src="img/categories/praline/bg-img.png", alt="")
		.container
			h1._title Пралине
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Пралине
	.container._container
		.b-products
			.row
				+productItem('img/categories/praline/item1.png', 'Миндальное', 'small', 'praline1', 'Миндальное пралине')
				+productItem('img/categories/praline/item2.png', 'Фундучное', 'small', 'praline2', 'Фундучное пралине')
				+productItem('img/categories/praline/item3.png', 'Миндально-фундучное', 'small', 'praline3', 'Миндально-фундучное пралине')
				+productItem('img/categories/praline/item4.png', 'Кешью', 'small', 'praline4', 'Кешью пралине')
				+productItem('img/categories/praline/item5.png', 'Кешью 1 кг', 'small', 'praline5', 'Кешью пралине 1 кг')
				+productItem('img/categories/praline/item6.png', 'Фундучное 1 кг', 'small', 'praline6', 'Фундучное пралине 1 кг')
				+productItem('img/categories/praline/item7.png', 'Миндальное 1 кг.', 'small', 'praline7', 'Миндальное пралине 1 кг')
				+productItem('img/categories/praline/item8.png', 'Миндально-фундучное 1 кг', 'small', 'praline8', 'Миндально-фундучное пралине 1 кг')