section.b-section.-spices
	._bg-wrap(style="background-color: #F6F2AD")
		._bg-img-wrap
			img._bg-img(src="img/categories/spices/bg-img.png", alt="")
		.container
			h1._title Специи
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Специи
	.container._container
		.b-products
			.row
				+productItemHover('img/categories/spices/item1.png', 'img/categories/spices/hover-img/item1.png', 'Лаванда', 'big', 'spices', 'Измельченная лаванда')
				+productItemHover('img/categories/spices/item2.png', 'img/categories/spices/hover-img/item2.png', 'Корень галангала', 'big', 'spices', 'Измельченный корень галангала')
				+productItemHover('img/categories/spices/item3.png', 'img/categories/spices/hover-img/item3.png', 'Ваниль', 'big', 'spices', 'Измельченный ваниль')
				+productItemHover('img/categories/spices/item4.png', 'img/categories/spices/hover-img/item4.png', 'Корица', 'big', 'spices', 'Измельченная корица')
				+productItemHover('img/categories/spices/item5.png', 'img/categories/spices/hover-img/item5.png', 'Кориандр', 'big', 'spices', 'Измельченный кориандр')
				+productItemHover('img/categories/spices/item6.png', 'img/categories/spices/hover-img/item6.png', 'Мускатный орех', 'big', 'spices', 'Измельченный мускатный орех')
				+productItemHover('img/categories/spices/item7.png', 'img/categories/spices/hover-img/item7.png', 'Чили перец', 'big', 'spices', 'Измельченный чили перец')
				+productItemHover('img/categories/spices/item8.png', 'img/categories/spices/hover-img/item8.png', 'Душистый перец', 'big', 'spices', 'Измельченный душистый перец')
				+productItemHover('img/categories/spices/item9.png', 'img/categories/spices/hover-img/item9.png', 'Черный перец', 'big', 'spices', 'Измельченный черный перец')
				+productItemHover('img/categories/spices/item10.png', 'img/categories/spices/hover-img/item10.png', 'Белый перец', 'big', 'spices', 'Измельченный белый перец')
				+productItemHover('img/categories/spices/item11.png', 'img/categories/spices/hover-img/item11.png', 'Тмин', 'big', 'spices', 'Измельченный тмин')
				+productItemHover('img/categories/spices/item12.png', 'img/categories/spices/hover-img/item12.png', 'Зира', 'big', 'spices', 'Измельченная зира')
				+productItemHover('img/categories/spices/item13.png', 'img/categories/spices/hover-img/item13.png', 'Имбирь', 'big', 'spices', 'Измельченный имбирь')
				+productItemHover('img/categories/spices/item14.png', 'img/categories/spices/hover-img/item14.png', 'Кардамон', 'big', 'spices', 'Измельченный кардамон')
				+productItemHover('img/categories/spices/item15.png', 'img/categories/spices/hover-img/item15.png', 'Куркума', 'big', 'spices', 'Измельченная куркума')
				+productItemHover('img/categories/spices/item16.png', 'img/categories/spices/hover-img/item16.png', 'Шафран', 'big', 'spices', 'Измельченный шафран')
				+productItemHover('img/categories/spices/item17.png', 'img/categories/spices/hover-img/item17.png', 'Паприка', 'big', 'spices', 'Измельченная паприка')
				+productItemHover('img/categories/spices/item18.png', 'img/categories/spices/hover-img/item18.png', 'Бадьян', 'big', 'spices', 'Измельченный бадьян')
				+productItemHover('img/categories/spices/item19.png', 'img/categories/spices/hover-img/item19.png', 'Вассаби', 'big', 'spices', 'Измельченная вассаби')
				+productItemHover('img/categories/spices/item20.png', 'img/categories/spices/hover-img/item20.png', 'Цедра лимона', 'big', 'spices', 'Измельченная цедра лимона')
				+productItemHover('img/categories/spices/item21.png', 'img/categories/spices/hover-img/item21.png', 'Чеснок', 'big', 'spices', 'Измельченный чеснок')