section.b-section.-small-header.-single-page
	._bg-wrap(style="background-color: #F9F6F0")
	.container
		h1._title Мука миндальная
		ul.b-breadcrumbs
			li._item
				a._link(href="index.html") Главная
					span._seperator
						+icon('arrow-right')
			li._item.-disabled
				a._link(href="#") Мука миндальная
		.b-single._content
			._row
				._col.-left
					._wrap
						._product-slider-navigation
							.b-product-slider-navigation.owl-carousel
								._item
									._img-wrap
										img._img(src="img/categories/paste/item2.png", alt="")
								._item
									._img-wrap
										img._img(src="img/popup-img.png", alt="")
								._item
									._img-wrap
										img._img(src="img/categories/paste/item2.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/popup-img.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/categories/paste/item2.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/popup-img.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/categories/paste/item2.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/popup-img.png", alt="")
						._product-slider
							.b-product-slider.owl-carousel
								._item
									._img-wrap
										img._img(src="img/categories/paste/item2.png", alt="")
								._item
									._img-wrap
										img._img(src="img/popup-img.png", alt="")
								._item
									._img-wrap
										img._img(src="img/categories/paste/item2.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/popup-img.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/categories/paste/item2.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/popup-img.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/categories/paste/item2.png", alt="")
								//- ._item
								//- 	._img-wrap
								//- 		img._img(src="img/popup-img.png", alt="")
				._col.-right
					.b-info-list._info-list
						._row
							._title Состав:
							._value 100% ядра миндаля, очищенные, дробленные, подсушенные, консистенция сыпучая
						._row
							._title Внешний вид:
							._value 0-1 мм.
						._row
							._title Цвет:
							._value От желтого до белого допускается незначительная неоднородность цвета, вкрапления коричневого цвета
						._row
							._title Пищевая и энергетическая ценность
							._value Белки - 21г, Жиры - 53г, Углеводы - 6г. Энергетическая ценность: 601,0 Ккал
						._row
							._title Вид упаковки:
							._value Короб 10кг.
					._btn-wrap
						a.b-btn.-small._order-btn.js-popup(href="#ask-popup")
							span._icon-wrap
								+icon('papers')
							span._text Заказать образец
						a.b-trs-btn.-small._offer-btn.js-popup(href="#ask-popup")
							span._icon-wrap
								+icon('order')
							span._text Получить предложение
			h2._section-title Описание товара
			._desc
				p Покупая миндальную муку оптом от производителя «Орехпродукт» вы получаете товар, который на 100% состоит из ядер миндаля. Для того чтобы получить качественный продукт, мы проводим несколько этапов его изготовления. Первый этап заключается в отборе миндаля, мы отбираем только крупные и качественные орехи. Второй этап состоит в их обработке: снимается верхняя пленка, плоды отправляются на сушку. После этого миндаль отправляется на помол, благодаря такой обработке миндальная мука сохраняет в себе все полезные микроэлементы и антиоксиданты.
				p Сфера применения миндальной муки - кулинария. Ее часто добавляют в тесто или крем для того чтобы создавать десерты с неповторимым вкусом и ароматом. Компания «Орехпродукт» предлагает купить миндальную муку оптом высокого качества и по выгодной цене. Вся наша продукция сертифицирована и прошла проверку на соответствие стандартам качества.
			h2._section-title Товары в категории
			.b-category-slider.owl-carousel
				.b-product-item._item
					._img-wrap
						img._img(src='img/categories/flour/item1.png', alt='')
					a.b-trs-btn.-small._link.js-more-popup(href="#product") Миндальная мука
				.b-product-item._item
					._img-wrap
						img._img(src='img/categories/flour/item2.png', alt='')
					a.b-trs-btn.-small._link.js-more-popup(href="#product") Миндальная мука
				.b-product-item._item
					._img-wrap
						img._img(src='img/categories/flour/item3.png', alt='')
					a.b-trs-btn.-small._link.js-more-popup(href="#product") Миндальная мука
				.b-product-item._item
					._img-wrap
						img._img(src='img/categories/flour/item4.png', alt='')
					a.b-trs-btn.-small._link.js-more-popup(href="#product") Миндальная мука
				.b-product-item._item
					._img-wrap
						img._img(src='img/categories/flour/item5.png', alt='')
					a.b-trs-btn.-small._link.js-more-popup(href="#product") Миндальная мука
				.b-product-item._item
					._img-wrap
						img._img(src='img/categories/praline/item1.png', alt='')
					a.b-trs-btn.-small._link.js-more-popup(href="#product") Миндальная мука